// Colores
$primary-color: #F3B2A1;
$secondary-color: #333;
$text-color: #555;
$hover-shadow: inset 400px 0 0 0 rgba(255, 255, 255, 0.347);

// Espaciado
$spacing-small: 10px;
$spacing-medium: 20px;
$spacing-large: 30px;

// Fuentes
$font-family: 'Montserrat', sans-serif;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;

// Transiciones
$transition-duration: 0.4s;
$transition-easing: ease-out;

// Bordes y sombras
$border-radius: 8px;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

//mins y maxs
$base-font-size: 16px;
$min-font-size: 14px;
$max-font-size: 20px;