@use '_mixins' as mixins;


main{
    margin-top: 2%;
    width: 95%;
    height: 500px;
    display: flex;
    justify-self: center;
}

%boton-base {
  width: 60%;
  align-self: center;
  background-color: #F3B2A1;
  height: 30px;
  border: 1px #0000007e;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
  transition: ease-out 0.4s;

  &:hover {
      box-shadow: inset 400px 0 0 0 rgba(255, 255, 255, 0.347);
      color: #333;
  }
}
/****FORMULARIO  */
.formulario {
    width: 40%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-right: 10px;

    border-radius: 10px;
    display: block;
    font-size: 14px;
    color: #777;
    text-align: center;

    button {
      @extend %boton-base;

        
      }

      button:hover {
        box-shadow: inset 400px 0 0 0 rgba(255, 255, 255, 0.347);
        color: #333;
      }

      h2 {
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 9%;
        font-size: 24px;
        color: #333;
        text-align: left;
      }

      label {
        display: block;
        margin-bottom: 5px;
        margin-top: 15px;
        font-weight: bold;
        color: #555;
      }

      input, textarea {
    width: 70%;
    padding: 7px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 13px;
    align-self: center;
  }

  textarea {
    height: 100px;
    resize: none;
  }

  input:invalid, textarea:invalid {
    border-color: #ff0000; 
  }

  input:valid, textarea:valid {
    border-color: #00ff00;
  }

  input:focus, textarea:focus {
    border-color: #007bff;
    outline: none; 
  }

  }

.resto {
    padding: 10px;
    width: 100%;
    display: flex;
    height: 80%;
  }
    
  .izqform{
    width: 50%;
  }

  .derForm{
    height: 100%;
    width: 50%;
  }


  /********************** CARRITO ********************/

  .zonaCarrito{
    width: 60%;
    height: 100%;
    margin-left: 10px;
    justify-self: flex-end;


    .carrito{
    height: 350px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: white;

    }

    .animationPedido {
      display: flex;
      flex-direction: column; 
      align-items: center; 
      margin-top: 40px;
  
      .camion {
        @include mixins.bounce-animation(1s);
          width: 80px;
          height: auto;
      }
  
      p {
          margin-top: 10px; 
          font-size: 1.2rem;
          color: #333;
          text-align: center;
      }
  }
  




    h2{
        font-size: 1.5rem;
        margin-top: 5px;
        margin-bottom: 5px;
        color: #373737;
      }

      .arribaCarro{
        display: flex;
        width: 100%;
      }
    
      .tituloArribaCarro{
        width: 40%;
        margin-left: 1%;
      }
    
      .restoArribaCarro{
        align-self: flex-end;
        width: 60%;
        display: flex;
        justify-content: space-around;
      }
    
      .abajoCarro{
        width: 100%;
        display: flex;
      }
    
      .imgCarrito{
        width: 15%;

        img{
            width: 90px;
            height: auto;
          }
      }
    
      .prodCarrito{
        align-self: center;
        width: 31.5%;
        color: #333;

         p{
            font-size: 0.8rem;
          }
      }
    
    
      .precioCarrito{
        align-self: center;
        width: 19%;
      }
    
      .cantidadCarrito{
        align-self: center;
        display: flex;
        width: 22%;
      }
    
      .subtotalCarrito{
        align-self: center;
        width: 8%;
        font-weight: bold;
      }
    
      .papeleraCarrito{
        align-self: center;
        width: 1%;
      }
    
      button.cantidad{
        background-color: #F3B2A1;
        width: 17px;
        height: 17px;
        text-align: center;
        border: 1px  #0000007e;
        border-radius: 30px;
        font-weight: 600;
        cursor: pointer;
        margin: 0 2px;
        transition: 0.4s;
        text-decoration: none;
    }
    
    button.cantidad:hover{
        box-shadow: inset 400px 0 0 0 rgba(255, 255, 255, 0.347);
    }
    
    .totalCarro{
      display: flex;
      width: 100%;
      margin-top: 10px;

      p:nth-child(1){
        margin-left: 10px;
        width: 90%;
      }

      p:nth-last-child(1){
        width: 10%;
      }
    }

    .comprarCarro{
      margin-top: 5%;
      margin-left: 77%;

      button{
        background-color: #F3B2A1;
        padding: 10px 45px;
        border: 1px  #0000007e;
        border-radius: 8px;
        font-weight: 600;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        cursor: pointer;
        box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 0.26);
        -webkit-transition: ease-out 0.4s;
        -moz-transition: ease-out 0.4s;
        transition: ease-out 0.4s;
        text-decoration: none;
      }

      button:hover{
        box-shadow: inset 400px 0 0 0 rgba(255, 255, 255, 0.347);
        color: #333;
      }
  
        
    }


}

input[type="text"]:valid,
input[type="email"]:valid,
textarea:valid {
    border-color: green;
}

@media (max-width: 768px) {
  main {
      flex-direction: column;
      height: auto; 
      margin-top: 10px;
      width: 100%;
  }

  /**** FORMULARIO ****/
  .formulario {
      width: 100%; 
      margin-right: 0;
      margin-bottom: 20px; 
      height: auto; 

      h2 {
          margin-left: 5%; 
      }

      .resto {
          flex-direction: column; 
          padding: 10px;

          .izqform, .derForm {
              width: 100%;
          }

          input, textarea {
            @include mixins.input-transition(#F3B2A1);
              width: 90%; 
              margin-left: 5%; 
          }

          textarea {
              height: 80px; 
          }
      }

      button {
          width: 90%; 
          margin-left: 5%;
      }
  }

  /**** CARRITO ****/
  .zonaCarrito {
      width: 100%; 
      margin-left: 0;

      .carrito {
          height: auto; 
          padding: 10px;

          .arribaCarro {
              flex-direction: column; 
              align-items: center;

              .tituloArribaCarro {
                  width: 100%;  
                  text-align: center;
              }

              .restoArribaCarro {
                  width: 100%;  
                  justify-content: space-between;
                  margin-top: 10px;
              }
          }

          .abajoCarro {
              flex-direction: column;  
              align-items: center;
              margin-bottom: 20px;

              .imgCarrito {
                  width: 100%;
                  text-align: center;

                  img {
                      width: 100px; 
                  }
              }

              .prodCarrito {
                  width: 100%; 
                  text-align: center;
                  margin-top: 10px;
              }

              .precioCarrito, .cantidadCarrito, .subtotalCarrito, .papeleraCarrito {
                  width: 100%;
                  text-align: center;
                  margin-top: 10px;
              }

              .cantidadCarrito {
                  justify-content: center;
              }
          }

          .totalCarro {
              flex-direction: column; 
              align-items: center;
              text-align: center;

              p {
                  width: 100%; 
                  margin: 5px 0;
              }
          }

          .comprarCarro {
              margin-left: 0; 
              text-align: center;
              margin-top: 20px;

              button {
                  width: 90%; 
              }
          }
      }

      .animationPedido {
          margin-top: 20px;

          .camion {
              width: 60px;
          }

          p {
              font-size: 1rem; 
          }
      }
  }
}

footer{
  margin-top: 10%;
}